<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menu</title>
  <!-- Include stylesheets -->
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css">

  <!-- Bootstrap Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Include stylesheets -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/carousel.css">

  <!-- authentication script -->
  <script src="scripts/authentication.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- Nav bar -->
  <% include ./partials/_header %>

    <div class="container">
      <div class="row">

        <% foods.forEach((food) => {%>
          <div class="col-lg-4 col-md-6 col-sm-12 item">
            <!-- Data attributes for cart items -->
            <div class="top-item" id="item-details" data-id="<%= food.id %>" data-name="<%= food.name %>" data-price="<%= food.price %>" data-image-url="<%= food.image_url %>">
              <p>$
                <%= food['price'] %>
              </p>
              <button class="add-item" type="button" class="btn btn-default btn-md">Add to Cart</button>
            </div>
            <img class="img-responsive" src="<%= food.image_url %>" <h3>
            <%= food['name'] %>
              </h3>
              <p>
                <%= food['description'] %>
              </p>
          </div>
          <%}); %>
      </div>
    </div>

      <div id="mini-cart">
        <p>DIV HERE</p>
      </div>

      <div class="lower-footer" id="footer">
        <form class="checkout">
          <input class="toggle-cart" type="button" class="checkout" class="btn btn-primary btn-lg" value="Checkout">
        </form>
        <span class="total">  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Total: $<span class="total-amount" id="total"></span></span>
      </div>

      <% include ./partials/_cart.ejs %>

      <script type="text/javascript" src="/scripts/cart.js"></script>
      <script type="text/javascript" src="/scripts/menu-add-to-cart.js"></script>
      <script type="text/javascript" src="/scripts/order-submit.js"></script>
      <script type="text/javascript" src="/scripts/display-cart-items.js"></script>
      <script type="text/javascript" src="/scripts/footer.js"></script>
</body>

</html>
