<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Order Confirmation</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include stylesheets -->
    <link rel="stylesheet" href="/styles/confirmation.css">
  <!-- Bootstrap Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Include stylesheets -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- authentication script -->
  <script src="../scripts/authentication.js"></script>

</head>
  <body>
  <!-- Nav bar -->
  <% include ./partials/_header %>

  <div class="container order">
    <div class="order-container">
    <div class="row-fluid">
      <div class="col-12 text-center title">
        <h2>Your order is on the way.</h2>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-12 text-center eta">
        <% if (locals.foods[0].time) { %>
        <h4><strong><%= locals.foods[0].time %> minutes</strong> until you're order is ready.</h4>
        <% } else { %>
          <h4>You will receive a notification you when your <strong>order</strong> is ready.</h4>
        <% } %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-12 text-center order-id">
        Order ID: <%= locals.orderID %>
      </div>
    </div>
    <div class="row-fluid">
    </div>
    <% let subTotal = 0 %>
    <% locals.foods.forEach((food) => {%>
    <div class="row-fluid item-info">

      <div class="col-5 text-left">
        <%= food.quantity %> x <%= food.name %>
      </div>
      <div class="col-5 text-right item-price">
        $<%= food.price * food.quantity %>
      </div>
    </div>
    <% subTotal += food.price * food.quantity %>
    <% }); %>
    <div class="row-fluid totals">
      <hr>
      <div class="col-10 text-right">
        <p>Subtotal $<%= subTotal %><br>
        Tax $<%= ((Math.round(subTotal * 13)) / 100).toFixed(2) %><br>
        Total $<%= ((Math.round(subTotal * 113)) / 100).toFixed(2) %></p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row-fluid thank-you text-center">
      <img src="/images/thankyou1.svg" widht="100" height="100" alt="Thank you!">
    </div>
  </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
