<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ActiveOrders</title>

  <!-- Bootstrap Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/scripts/user_orders.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Include stylesheets -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user-order.css" type="text/css">


  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
</head>

<body>


  <nav class="secondary-nav">
    <a href="/users/menu">Back to the menu</a>
  </nav>
    <div class='jumbotron' id='header'>
      <div class='container-fluid'>
        <h1>Your Active Orders</h1>
      </div>
    </div>
    <div>
    <% Object.keys(orders).forEach((id) => {%>
     <div class="top-item" id="item-details" >
     <table>
      <tr>
        <th class="hd">Order Number</th>
        <th class="hd">Price Total</th>
        <th class="hd">ETA</th>
        <th class="hd">When</th>
        <th class="hd">Ready?</th>
        <th class="hd">Some buttons</th>
      </tr>
      <tr>
        <td class="text"><%= orders[id][0].order_id %></td>
        <td class="text"><%= orders[id][0].total_price %></td>
        <td class="text"><%= orders[id][0].time %></td>
        <td class="text"><%= orders[id][0].date_created.toString().split('GMT')[0] %></td>
        <td class="text"><%= orders[id][0].complete ? 'Yes 😎' : 'Not yet 🤔' %></td>
        <td class="text">
          <button type="button" class="btn btn-info more-details">See order detais</button>
          <button type="button" class="btn btn-info contact">Contact the place </button>
        </td>
        <tr class="extra-details">
          <td colspan="6">
            <% orders[id].forEach(item => { %>
            <div><%= item.name %></div>
            <% }) %>
          </td>
        </tr>
      </tr>
    </table>
    </div>
    </div>
    <%}); %>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
